.bg-overlay {
  width: 100vw;
  height: 100vh;
  background: url("../Section3/aseets/stats-bg.916429f3.png") no-repeat center
    center;
  background-size: 0%;
  background-color: #000000;
  background-size: cover;
}

.img-1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img {
  margin-top: 50px;
}

.spze {
  height: 50px;
}

.bg-overlay h1 {
  color: white;
  font-size: 80px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
  word-spacing: 0%;
}

.bg-overlay p {
  margin-left: 360px;
  color: white;
  font-size: 20px;
  text-align: center;
  max-width: 45ch;
  font-size: 24px;
  font-weight: 300;
}

.bg-overlay button {
  margin-top: 20px;
  margin-left: 550px;
  font-weight: 500;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 4px;
  padding: 12px 42px;
  border: 0.5px solid #b5c7dc;
  box-shadow: 0 0 20px 0 rgba(181, 199, 220, 0.4);
}

.bg-overlay .pp {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.spac {
  margin-top: -10px;
}

.img-section {
  background-color: white;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-section img {
  height: 200px;
  background-color: white;
  width: 60%;
  height: 100%;
}
